<nav aria-label="Pagination">
    <ul class="pagination">
        {% if paginator.getFirstPage() < pageRangeMin %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ url('index', {filter: filter, page: paginator.getFirstPage()})}}">{{ paginator.getFirstPage() }}</a>
            </li>
            {% if pageRangeMin-1 != paginator.getFirstPage() %}
                <li>&nbsp;{{ separator }}&nbsp;</li>
            {% endif %}
        {% endif %}

        {% for number in (pageRangeMin..pageRangeMax)|filter(n => n >= paginator.firstPage() and n <= paginator.lastPage()) %}
            <li class="page-item {% if number == paginator.getPage()  %}active{% endif %}">
                <a class="page-link"
                   href="{{ url('index', {filter: filter, page: number}) }}">
                    {% if number == paginator.getPage()  %}
                        <strong class="current-page">{{ paginator.getPage() }}</strong>
                    {% else %}
                        &nbsp;{{ number }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        {% if paginator.getLastPage() > pageRangeMax %}
            {% if pageRangeMax+1 != paginator.getLastPage() %}
                <li>&nbsp;{{ separator }}&nbsp;</li>
            {% endif %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ url('index', {filter: filter, page: paginator.getLastPage()})}}">{{ paginator.getLastPage() }}</a>
            </li>
        {% endif %}
    </ul>
</nav>